@import url('https://fonts.googleapis.com/css2?family=Alata&family=Carter+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.carter-one-regular {
    font-family: "Carter One", system-ui;
    font-weight: 500;
    font-style: normal;
  }
  


  .inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:600;
    font-style: normal;
  }
  
  .inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:500;
    font-style: normal;
  }
  
  .inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:700;
    font-style: normal;
  }
  
  .inter-thin {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:400;
    font-style: normal;
  }
  
  .inter-thin-extra {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight:300;
    font-style: normal;
  }

  .gradient-background{
    background: rgb(0,1,6);
    background: linear-gradient(169deg, rgba(0,1,6,1) 26%, rgba(33,36,51,1) 68%);
  }

  .gradient-background-about{
    background: rgba(0, 1, 6, 0.488);
    background: linear-gradient(2deg, rgba(0, 1, 6, 0.302) 26%, rgb(32, 35, 49) 68%);
  }
  .gradient-background-testo{
    background: rgba(0, 1, 6, 0.488);
    background: linear-gradient(150deg, rgba(0, 1, 6, 0.302) 26%, rgb(32, 35, 49) 68%);
  }